.page {
  height: 100%;
}

.page__body {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: 100vh;
}

.page__header,
.page__footer {
  flex-grow: 0;
  flex-shrink: 0;
}

.page__main {
  flex-grow: 1;
}


.page__body-menu--modal {
  top: 19px;

  @media (min-width: $tablet-width) {
    top: 205px;
  }

  @media (min-width: $tablet-width) {
    top: 90px;
  }
}

.page__body-menu--modal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--overlay-body, rgba(45, 56, 63, 0.6));
  z-index: 3;
}

.page__body-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--overlay-body, rgba(45, 56, 63, 0.6));
  z-index: 3;
}
