:root {
  --font-basic: "Manrope", "Arial", sans-serif;
  --text-primary: #484848;
  --text-secondary: #316dc2;
  --text-accent: #275699;
  --text-primary-back-dark: #ffffff;
  --text-secondary-back-dark: #f0efe9;
  --back-primary: #f0efe9;
  --back-secondary: #ffffff;
  --back-accent: #316dc2;
  --back-active: #275699;
  --border-primary: #316dc2;
  --border-secondary: #f0efe9;
  --border-accent: #ffffff;
  --overlay-primary: rgba(49, 109, 194, 0.2);
  --overlay-secondary: rgba(13, 29, 51, 0.4);
  --disabled: #a9afb7;
  --state-error: #ff5e66;
}


$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;

